.home {
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 60px;
  margin-bottom: 40px;
}

.start-btn {
  font-size: 30px;
  padding: 15px 40px;
  border-radius: 10px;
  border: none;
  background: yellow;
  cursor: pointer;
}
