.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #111;
  color: white;
}

input {
  padding: 12px;
  font-size: 18px;
  width: 250px;
}

button {
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
}
