.start-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.start-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.6);
}

.start-title {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0 0 20px #00eaff;
  margin-bottom: 20px;
  font-family: "Orbitron", sans-serif;
}

.player-box {
  position: absolute;
  top: 25px;
  right: 25px;
  background: rgba(0, 0, 0, 0.5);
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 18px;
  border: 2px solid #00eaff;
  backdrop-filter: blur(6px);
}

.player-box span {
  color: #00eaff;
  font-weight: bold;
}

.start-btn {
  margin-top: 20px;
  padding: 18px 40px;
  background: #00eaff;
  color: black;
  border: none;
  border-radius: 15px;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 20px #00eaff;
  transition: 0.2s;
}

.start-btn:hover {
  background: #00ffff;
  box-shadow: 0 0 25px #00ffff;
  transform: scale(1.05);
}

.speed-lines {
  position: absolute;
  width: 2px;
  height: 220px;
  background: #00eaff;
  opacity: 0.6;
  animation: speed 1s infinite linear;
}

.speed-lines:nth-child(4) {
  right: 20%;
  animation-delay: 0.3s;
}

.speed-lines:nth-child(5) {
  left: 20%;
  animation-delay: 0.6s;
}

@keyframes speed {
  0% { top: -200px; opacity: 0.1; }
  100% { top: 120%; opacity: 0.8; }
}
